<h5 class="category-title">Dresses</h5>
    <div class="category-sub" id="ctg-list"> 
        <a class="category-sub" href="/category/"><li>All Athleisure</li></a>
        <a class="category-sub" href="/category/"><li>Tops</li></a>
        <a class="category-sub" href="/category/"><li>Bottoms</li></a>
        <a class="category-sub" href="/category/"><li>Jackets</li></a>
        <a class="category-sub" href="/category/"><li>Sets</li></a>
    </div>