<h5 class="category-title">Denim</h5>
    <div class="category-sub" id="ctg-list">
        <a class="category-sub" href="/category/"><li>All Denim</li></a> 
        <a class="category-sub" href="/category/"><li>Skinny</li></a>
        <a class="category-sub" href="/category/"><li>Distressed</li></a>
        <a class="category-sub" href="/category/"><li>Fashion</li></a>
    </div>