<h5 class="category-title">Dresses</h5>
    <div class="category-sub" id="ctg-list"> 
        <a class="category-sub" href="/category/"><li>All Dresses</li></a>
        <a class="category-sub" href="/category/"><li>Everyday Dresses</li></a>
        <a class="category-sub" href="/category/"><li>Mini Dresses</li></a>
        <a class="category-sub" href="/category/"><li>Midi Dresses</li></a>
        <a class="category-sub" href="/category/"><li>Maxi Dresses</li></a>
    </div>