

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <!-- IMAGE -->
                        <div class="col-md-7">
                            <h5 class="welcome">WELCOME TO BLK POCKET!</h5>
                            <p class="welcome">LETS MAKE IT OFFICIAL</p>

                            <p class="welcome">Subscribe for emails regarding special promotions, sales and more </p>

                            <!-- SIGN UP FORM -->
                            <!-- OR SIGN UP WITH GOOGLE/FACEBOOK -->
                            <input class="form-control" type="text" placeholder="Email">
                            <button type="button" class="btn btn-secondary btn-sm modalSumbit">Submit</button>
                        </div>

                        <div class="col-md-5">
                            <img id="modal-pic" src="public/assets/img/sample-img.png">
                        </div>
                    
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>