<h5 class="category-title">New In</h5>
    <div class="category-sub" id="ctg-list"> 
        <a class="category-sub" href="/category/"><li>All New</li></a>
        <a class="category-sub" href="/category/"><li>New In Dresses</li></a>
        <a class="category-sub" href="/category/"><li>New In Tees</li></a>
        <a class="category-sub" href="/category/"><li>New In Athleisure</li></a>
        <a class="category-sub" href="/category/"><li>New Deals</li></a>
    </div>