<h5 class="category-title">Tees</h5>
    <div class="category-sub" id="ctg-list"> 
        <a class="category-sub" href="/category/"><li>All Tees</li></a>
        <a class="category-sub" href="/category/"><li>Long Sleeve</li></a>
        <a class="category-sub" href="/category/"><li>Short Sleeve</li></a>
    </div>