{{> nav }} 
{{> modal}}
{{> login-modal }}
<br>
 
    <!-- CAROUSEL -->
    <!-- 1ST SLIDE - PROMOTION WITH BUTTON -->
    <!-- 2ND SLIDE - HERO PIECE OF THE SEASON WITH BUTTON -->
    <!-- 3RD SLIDE - HERO PIECE OF THE SEASON WITH BUTTON -->

    <!-- SHOP THE TREND -->
    <div class="container" id="trend-ctn">

        <img id="trend-pic" src="/assets/img/favoritecollection.png">

       

        <div class="shop-trend">
            {{!-- <p>SHOP THE TREND</p>
            <button type="button" class="btn btn-secondary" id="trend-btn">Shop</button> --}}
        </div>
    </div>

    <br>


    <!-- FAVOURITES -->
    <!-- 4 IMAGES WITH BUTTON LINKING DIRECTLY TO THAT ITEM -->
    <h1 class="favorites title">FAVORITES</h1>
    
    <div class="container" id="fav">
        <div class="row">
            <div class="col-md-3">
                <img class="fav-pic1" src="/assets/img/sample-img.png">
            </div>
            <div class="col-md-3 fav-pic">
                <img class="fav-pic2" src="/assets/img/sample-img.png">
            </div>
            <div class="col-md-3 fav-pic">
                <img class="fav-pic3" src="/assets/img/sample-img.png">
            </div>
            <div class="col-md-3 fav-pic">
                <img class="fav-pic4" src="/assets/img/sample-img.png">
            </div>
        </div>
    </div>

    <br>

    <!-- MISSION STATEMENT -->


    <!-- HERO ITEM  -->
    <!-- SINGLE ITEM -->
    {{!-- <div class="container" id="hero-ctn">
        <img id="hero-pic" src="/assets/img/sample-img.png">
        <div class="shop-hero">
            <p>HERO ITEM</p>
            <button type="button" class="btn btn-secondary" id="trend-btn">Shop</button>
        </div>
    </div>

    <br> --}}

    <!-- SHOP ITEMS -->
    <!-- 3 IMAGES -->
    <div class="container" id="shop-ctn">
        <div class="row" id="shop-main-ctn">
            <div class="col-md-6 shop-main">

                <img id="shop-pic1" src="/assets/img/ringsbanner.png">
                {{!-- <div class="shop-main-shop">
                    <p>SHOP RINGS</p>
                    <button type="button" class="btn btn-secondary" id="trend-btn">Shop</button>
                </div> --}}
            </div>

            <div class="col-md-6 shop-half">
                <div class="row shop-half-top">

                    <img id="shop-pic2" src="/assets/img/necklacesbanner.png">
                    {{!-- <div class="shop-half-shop">
                        <p>SHOP NECKLACES</p>
                        <button type="button" class="btn btn-secondary" id="trend-btn">Shop</button>
                    </div>                     --}}
                </div> 
            
                 <div class="row shop-half-bottom">              
                    <img id="shop-pic3" src="/assets/img/earringsbanner.png">
                    {{!-- <div class="shop-half-shop">
                        <p>SHOP TEES</p>
                        <button type="button" class="btn btn-secondary" id="trend-btn">Shop</button>
                    </div>                     --}}
                </div>  
            </div>
        </div>
    </div>

    <br>

    <!-- INSTAGRAM API-->
    <h1 class="insta title">SHOP OUR INSTAGRAM</h1>
    <div class="container">

	<div id="instafeed" class="row gallery"></div>

    </div>
    
    <!-- FOOTER -->
    <!-- DESIGNED BY -->
    <footer class="container-fluid">
        <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h7>ABOUT US</h7>
                <p>About</p>
                <p>Become and Affliliate</p>
            </div>

            <div class="col-md-4">
                <h7>INFORMATION</h7>
                <p>Delivery</p>
                <p>Terms and Conditions</p>
            </div>

            <div class="col-md-4">
                <h7>HELP</h7>
                <p>Track My Order</p>
                <p>Size Guide</p>
            </div>
        </div>
        </div>
        <p class="copyright">Copyright @2018 Designed by: </p>
    </footer>

