#category-pic {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#ctg-list li {
    list-style-type: none;
}

.preview-img {
    width: 100%;
    height: auto;
}

.category-name, .category-price{
    text-align: center;
    color: black;
}

.product-name {
    text-align: center;
    margin-bottom: 2px;
}

.product-price {
    text-align: center;
    margin-bottom: 25px;
}

