<link rel="stylesheet" href="/assets/css/category.css">
{{> nav }} 


<br>

    <!-- CATEGORY LIST -->
    <div class="container" id="category">
        {{!-- <div class="row">  --}}
            {{!-- <div class="col-md-2" id="ctg-side-bar"> --}}

                {{!-- Where the partial will go --}}
                {{!-- {{> (whichPartial) }} --}}

            {{!-- </div> --}}
            {{!-- <div class="col-md-10"> --}}
                <img id="category-pic" src="/assets/img/sample-img.png">

                <br>

                <div class="row">
                    <div class="col-md-3">
                        <!-- QUICK VIEW PICTURE CAROUSEL ON HOVER/CLICK ARROW -->
                        <a href="/products/">
                            <img class="preview-img" id="preview-img1-1" src="/assets/img/sample-img.png">
                            <p class="category-name">ITEM NAME</p>
                        </a>
                            <p class="category-price">$0.00</p>
                    </div>

                    <div class="col-md-3">
                        <!-- QUICK VIEW PICTURE CAROUSEL ON HOVER/CLICK ARROW -->
                        <a href="/products/">
                            <img class="preview-img" id="preview-img1-1" src="/assets/img/sample-img.png">
                            <p class="category-name">ITEM NAME</p>
                        </a>
                            <p class="category-price">$0.00</p>
                    </div>

                    <div class="col-md-3">
                        <!-- QUICK VIEW PICTURE CAROUSEL ON HOVER/CLICK ARROW -->
                        <a href="/products/">
                            <img class="preview-img" id="preview-img1-1" src="/assets/img/sample-img.png">
                            <p class="category-name">ITEM NAME</p>
                        </a>
                            <p class="category-price">$0.00</p>
                    </div>

                    <div class="col-md-3">
                        <!-- QUICK VIEW PICTURE CAROUSEL ON HOVER/CLICK ARROW -->
                        <a href="/products/">
                            <img class="preview-img" id="preview-img1-1" src="/assets/img/sample-img.png">
                            <p class="category-name">ITEM NAME</p>
                        </a>
                            <p class="category-price">$0.00</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <!-- QUICK VIEW PICTURE CAROUSEL ON HOVER/CLICK ARROW -->
                        <a href="/products/">
                            <img class="preview-img" id="preview-img1-1" src="/assets/img/sample-img.png">
                            <p class="category-name">ITEM NAME</p>
                        </a>
                            <p class="category-price">$0.00</p>
                    </div>
        
                    <div class="col-md-3">
                        <!-- QUICK VIEW PICTURE CAROUSEL ON HOVER/CLICK ARROW -->
                        <a href="/products/">
                            <img class="preview-img" id="preview-img1-1" src="/assets/img/sample-img.png">
                            <p class="category-name">ITEM NAME</p>
                        </a>
                            <p class="category-price">$0.00</p>
                    </div>
        
                    <div class="col-md-3">
                        <!-- QUICK VIEW PICTURE CAROUSEL ON HOVER/CLICK ARROW -->
                        <a href="/products/">
                            <img class="preview-img" id="preview-img1-1" src="/assets/img/sample-img.png">
                            <p class="category-name">ITEM NAME</p>
                        </a>
                            <p class="category-price">$0.00</p>
                    </div>
        
                    <div class="col-md-3">
                        <!-- QUICK VIEW PICTURE CAROUSEL ON HOVER/CLICK ARROW -->
                        <a href="/products/">
                            <img class="preview-img" id="preview-img1-1" src="/assets/img/sample-img.png">
                            <p class="category-name">ITEM NAME</p>
                        </a>
                            <p class="category-price">$0.00</p>
                    </div>
                </div>
            {{!-- </div> --}}
        {{!-- </div>  --}}
    </div>

{{> footer}}
